body{
    background: antiquewhite;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.batteryWithContact{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.battery {
    display: flex;
    align-items: center;
    width: 20vw;
    height: 10vh;
    border: solid 0.5vh black;
    margin-bottom: 3vh;
    position: relative;
    top: 10vh;
    background-color: white;
}
.contact {
    position: relative;
    top: 10vh;
    width: 1vw;
    height: 3vh;
    background-color: black;
    margin-bottom: 3vh;
}
.redBlock{
    width: 7vw;
    height: 10vh;
    background-color: red;
}
.yellowBlock{
    width: 12vw;
    height: 10vh;
    background-color: yellow;
}
.greenBlock{
    width: 20vw;
    height: 10vh;
    background-color: green;
}