body{
  position: relative;
  margin: 0;
}
header{

}
H1 {
  color: blue;
  text-align: center;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 40px 0 0;
}
H2{

}
.circle {
  height: 700px;
  width: 700px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  margin: 40px auto 0;
  overflow: hidden;
  object-fit: cover;

  vertical-align: middle;
  box-sizing: border-box;
  background-size: cover;
}
.backgroundIcon{

}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table{
  margin-top: -125px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap:wrap;
  width: 900px;

}
.blockInfo{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 8px;
  width: 200px;
  height: 250px;

}
.icon{
  border-radius: 50%;
  background-color: blue;
  display: block;
  width: 50px;
  height: 50px;

}
img{

}
.beforeFooter{
  font-size: 0.875rem;
  margin: 50px auto 50px auto;
  letter-spacing: 1px;
}

.footer {
  font-size: 0.875rem;
  text-align: center;
  color: white;
  width: 100vw;
  height: 200px;
  background-color: #414141;
  padding-top: 20px;
  padding-down: 20px;
}
.footerUp {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 150px;
}
.footerDown{
  width: 100vw;
  height: 50px;
}
.inThreeString {
  width: 420px;
  height: 70px;
}
