.backLine {
    display: inline-block;
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(black, grey);
}

.frontLine {
    width: 30%;
    height: 18px;
    background: linear-gradient(to top, lightskyblue, deepskyblue, lightskyblue);
    border: 1px solid rgba(20, 150, 255, 1);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 3px 0px 3px black;
    border-left: none;
}