body {
  margin: 0;
}

/*TEXT*/
H1 {
  font-weight: 700;
  font-size: 60px;
  margin: -30px 0 0 0;
  color: #f1c50e;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  width: 435px;
  line-height: 1.1;

}

main {

}

.mainUp {
  background-color: #292d33;
  height: 500px;
}

.mainDown {
  height: 200px;
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  margin: -400px 0 0 0;
}

.firstBlock {

  width: 500px;
  height: 500px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;


}

.bigPicture {
  min-height: 566px;
  width: 533px;
  object-fit: cover;
  overflow-clip-margin: content-box;
}

.secondBlock {
  margin: 20px;

}

.textItalic {
  color: white;
  word-wrap: break-word;
  position: relative;
  width: 418px;
  margin: 20px 0 0;
}

.secondImagesBlock,
.firstImagesBlock {
  display: flex;
  width: 210px;
  height: 225px;
  overflow: hidden;
  position: relative;
  margin: 20px 20px 20px 5px;

}

.miniPicture {
  height: 100%;
  width: 210px;
  box-sizing: border-box;
  object-fit: cover;
}

.textBlock {

}

.textItalic {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  width: 418px;
}

.stringFreepik {
  font-family: 'Open Sans', sans-serif;
  color: white;

}

.linkFreepik {
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
  border-bottom: solid 1px white;
}

.linkFreepik:hover {
  color: #dfdfdf;
}

.imagesBlock {
  display: flex;
  margin-top: 60px;


}

.secondImagesBlock {

}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  text-align: center;
  color: white;
  width: 100vw;
  height: 210px;
  background-color: #333333;
  padding-top: 20px;
  padding-down: 20px;
}

.footerUp {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100px;
}

.lincFooterDown {
  color: #adcce9;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

.lincFooterDown:hover {
  color: grey;
  text-decoration: none;
}

.inTwoString {
  width: 417px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

.footerDown {
  font-size: 16px;
  line-height: 1.6;
  width: 100vw;
  height: 100px;
}

@media screen and (max-width:1200px){
  .bigPicture {
    min-height: 536px;
    width: 503px;
  }
  .secondImagesBlock,
  .firstImagesBlock {
    width: 188px;
    height: 202px;
  }
  .table {
  }


}

@media screen and (max-width:992px){
}

@media screen and (max-width:1200px){

}

@media screen and (max-width:768px){

}

@media screen and (max-width:575px){

}